body{
    background-color: #484848;
    color: white;
}
#main-box{
    height: 500px;
    border: 1px solid white;
    text-align: center;
    margin: auto;
    padding: 200px;
    text-shadow: 1px 1px #D2D2D2;
}