@font-face{
	font-family: 'Kazincbarcika';
	src: url('../fonts/Kazincbarcika.ttf');
}
body{
    font-family: "Kazincbarcika";
}
.text-center{
    text-align: center;
    padding: 10px;
}
.box {
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
}
.img-size{
    height: 150px;
    transition: transform .60s;
    box-shadow: 10px 10px 5px grey;
}
@media (max-width: 990px) {
    .img-size{
        height: 110px;
        padding-bottom: 10px;
        transition: transform .60s;
    }
}
@media (min-width: 576px) and (max-width: 762px) {
    .img-size{
        height: 80px;
        padding-bottom: 10px;
        transition: transform .60s;
    }
}
.img-size:hover{
    transform: scale(1.12);
}
p{
    font-size: 18px;
}
.link{
    margin-top: 20px;
}
.elefant-name{
    padding: 10px;
}